<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=DIMA-PC\MSSQLSERVER2014; Integrated Security=SSPI; Initial Catalog=AutoLot" />
    <add name="FormBinding.Properties.Settings.InventoryDataSet"
      connectionString="Data Source=DIMA-PC\MSSQLSERVER2014;Initial Catalog=AutoLot;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>