
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Tim world (From the view)
        <p>We're going to have an exciting party.</p>
        (To do: sell it better. Add pictures or something)
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>
