@using System.Xml

@{
    ViewBag.Title = "Резюме Сапожникова Д.В.";
    Layout = "~/Views/Shared/Desktop/_Layout.cshtml";
    var st = Server.MapPath("~/Content/XML/AddHTMLData.xml");
    XmlDocument xml = new XmlDocument();
    xml.Load(st);
    XmlElement xel = xml.DocumentElement;
}

@section AddStylesSection{
    <link href="~/Content/Styles/StylesDesktop.css" rel="stylesheet" type="text/css" />
}


@section AddScriptsSection{
    <script src="~/Scripts/SpecialScripts/DefiningFunctions.js"></script>
    <script src="~/Scripts/SpecialScripts/Executing.js"></script>
}

@section HeaderSection{
    <header>
        <div id="headTop"> Добро пожаловать</div>
        <div id="headDown"><!--
            --><div id="hLeft">Вход</div><!--
            --><div id="hCenter"></div><!--
            --><div id="hRight">Отправить письмо</div><!--
        --></div>
    </header>
}

@section PhotoSection{
    <section id="photo" class="photo">
        <div class="switch left">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="switch right">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="rotate photo">
            <div class="background left photo"></div>
            <!--
            -->
            <div class="background photo"></div>
            <!--
            -->
            <div class="background right photo"></div>
            <div class="foreground left photo">
            </div>
            <!--
            -->
            <div class="foreground photo">
            </div>
            <!--
            -->
            <div class="foreground right photo">
            </div>
        </div>
    </section>
}

@section SkillsSection{
    <section id="skills" class="skills">
        <div class="switch left">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="switch right">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="rotate skills">
            <div class="background left skills"></div>
            <!--
            -->
            <div class="background skills"></div>
            <!--
            -->
            <div class="background right skills"></div>
            <div class="foreground left skills"></div>
            <!--
            -->
            <div class="foreground skills"></div>
            <!--
            -->
            <div class="foreground right skills"></div>
        </div>
    </section>
}

@section AddHideInfoSection{

    @Html.Raw(xel.SelectSingleNode("script[@id='s2']").OuterXml);

    @Html.Raw(xel.SelectSingleNode("script[@id='s1']").OuterXml);

    @Html.Raw(xel.SelectSingleNode("script[@id='s3']").OuterXml);

    <script id="me1" type="text/template">
        <img src="/Content/Images/me1.jpg" />
    </script>

    <script id="me2" type="text/template">
        <img src="/Content/Images/me2.jpg" />
    </script>

    <script id="me3" type="text/template">
        <img src="/Content/Images/me3.jpg" />
    </script>

    <script id="to addWindow" type="text/template">

        <div id="crossClose"></div>

        <textarea id="textMessage">
              Пожалуйста, введите ваше сообщение и способ связи с вами.
        </textarea>

        <div id="noSend" class="dlg-buttons">Отмена</div>
        <div id="ajaxVis"></div>
        <div id="sendMes" class="dlg-buttons">Отправить</div>

    </script>

    <script id="messageSendSuccess" type="text/template">

        <h1>Спасибо, ваше сообщение успешно отправлено</h1>

        <div id="noSend" class="dlg-buttons">Хорошо</div>

    </script>


    <script id="adminEnter" type="text/template">
        <p style="margin-left: 10%;">Введите логин и пароль</p>

        <div id="container-login"><textarea id="login"></textarea></div>
        <br />
        <div id="container-password"><textarea id="password"></textarea></div>

        <div id="noSend" class="dlg-buttons">Отмена</div>
        <div id="ajaxVis"></div>
        <div id="enterLg" class="dlg-buttons">Отправить</div>
    </script>

    <script id="adminFunctions" type="text/template">
        <textarea id="textMessage">              
        </textarea>

        <div id="noSend" class="dlg-buttons">Отмена</div>
        <div id="ajaxVis"></div>
        <div id="clearDb" class="dlg-buttons">Очистить</div>
        <div id="readDb" class="dlg-buttons">Прочитать</div>

    </script>

}