
@{
    ViewBag.Title = "SendPagew";
    Layout = "~/Views/Shared/Mobile/_Layout.Mobile.cshtml";
}

@section AddStylesSection{
    <link href="~/summary/Content/Styles/StylesMobile.css" rel="stylesheet" type="text/css" />
}

@section Header{
    <h3>Пожалуйста, зайдите на страничку с компьютера.</h3>
}

