
@{
    ViewBag.Title = "Резюме Сапожникова Д.В.";
    Layout = "~/Views/Shared/Desktop/_Layout.cshtml";
}

@section AddStylesSection{
    <link href="~/Content/Styles/StylesDesktop.css" rel="stylesheet" type="text/css" />
}
@section AddScriptsSection{
    <script src="~/Content/Scripts/DefiningFunctions.js"></script>
    <script src="~/Content/Scripts/Executing.js"></script>
}


@section HeaderSection{
    <header></header>
}

@section PhotoSection{
    <section class="section-photo">
        <div class="swith-photo swith-photo-left"></div>
        <div class="swith-photo swith-photo-right"></div>
        <div class="photo">            
            <div class="background left"></div><!--
         --><div class="background"></div><!--
         --><div class="background right"></div>
            <div class="foreground left"></div><!--
         --><div class="foreground"></div><!--
         --><div class="foreground right"></div>
        </div>
    </section>
}

@section AboutSection{
    <section class="section-about">
    </section>
}

@section SkillsSection{
    <section class="section-skills">
    </section>
    
    }