
@{
    ViewBag.Title = "Резюме Сапожникова Д.В.";
    Layout = "~/Views/Shared/Desktop/_Layout.cshtml";
}

@section AddStylesSection{
    <link href="~/Content/Styles/StylesDesktop.css" rel="stylesheet" type="text/css" />
}
@section AddScriptsSection{
    <script src="~/Content/Scripts/DefiningFunctions.js"></script>
    <script src="~/Content/Scripts/Executing.js"></script>
}


@*@section HeaderSection{
    <header>
        
    </header>
}

@section MainSection{
    <div class="template-diagonal">

    </div>
}

@section FooterSection{
    <footer></footer>
}*@