
@{
    ViewBag.Title = "Резюме Сапожникова Д.В.";
    Layout = "~/Views/Shared/Desktop/_Layout.cshtml";
}

@section AddStylesSection{
    <link href="~/Content/Styles/StylesDesktop.css" rel="stylesheet" type="text/css" />
}
@section AddScriptsSection{
    <script src="~/Scripts/SpecialScripts/DefiningFunctions.js"></script>
    <script src="~/Scripts/SpecialScripts/Executing.js"></script>
}

@section HeaderSection{
    <header></header>
}

@section PhotoSection{
    <section id="photo" class="photo">
        <div class="switch left">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="switch right">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="rotate photo">
            <div id="123" class="background left photo"></div><!--
         --><div class="background photo"></div><!--
         --><div class="background right photo"></div>
            <div class="foreground left photo"></div><!--
         --><div class="foreground photo"></div><!--
         --><div class="foreground right photo"></div>
        </div>
    </section>
}

@section SkillsSection{
    <section id="skills" class="skills">
        <div class="switch left">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="switch right">
            <div></div>
            <div></div>
            <div class="scaled"></div>
            <div class="scaled"></div>
        </div>
        <div class="rotate skills">
            <div class="background left skills"></div><!--
         --><div class="background skills"></div><!--
         --><div class="background right skills"></div>
            <div class="foreground left skills"></div><!--
         --><div class="foreground skills"></div><!--
         --><div class="foreground right skills"></div>
        </div>
    </section>
}