
@{
    ViewBag.Title = "Резюме Сапожникова Д.В.";
    Layout = "~/Views/Shared/Desktop/_Layout.cshtml";
}

@section AddStyles{
    <link href="~/Content/Styles/StylesDesktop.css" rel="stylesheet" type="text/css"/>
    }
@section AddScripts{
    <script src="~/Content/Scripts/DefiningFunctions.js"></script>
    <script src="~/Content/Scripts/Executing.js"></script>
    }


@section Header{
    <div class="topheader"><p>Добро пожаловать на мою личную страницу</p></div>
    }