<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0" />
</head>
<body style="vertical-align: central; text-align: center;">
    @RenderSection("Header", required: false)
</body>
</html>