{
    "presets": [
        [
            "@babel/env",
            {
                // "corejs": 3,
                // "useBuiltIns": "usage",
                "debug": true
                // "modules": false
            }
        ],
            "@babel/react"
            // "@babel/preset-stage-3"
    ],
    "plugins": [
        "@babel/proposal-class-properties"
    ]
}