#m-a-c-l-client-item{
  font-size: 1.5vw;
}

#m-a-c-l-client-item button{
  font-size: 1.5vw;
  padding: 0.2em .4em;
}

#m-a-c-l-client-item input{
  width: 8vw;
}

#m-a-c-l-client-item .material-icons{
  cursor: default;
  font-size: 3vw;
}

#m-a-c-l-client-item .material-icons.on{
  font-size: 3.3vw;
}