body, html{
    margin: 0;
    font-family: 'Montserrat' serif;
}

/*===================================================Header Block============================================*/

/* Header Total */
header{
    background-color: black;
    min-width: 230px;
}

/* Label text */
.header-label{
    color: white;
    text-align: center;
    font-family: 'thinking_of_bettyregular';
    display: inline-block;
    height: auto;
    font-size: 30px;
    margin-top: 0.3em;
    margin-left: 3em;
}

/* Menu text */
#header-menu > ul > li > a{
    color: white;
    font-size: 25px;
}

/* Margin right */
.menu-mr{
    margin-right: 5vw;
}

.nav-item{
    position: relative;

}

@keyframes menu-item-underline{
    from{
        width: 0%;
        margin-left: 50%;
    }
    to{
        width: 100%;
        margin-left: 0%;
    }
}

/* Menu visualize */
.nav-item:hover:after{
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    margin-top: 0;
    margin-left: 50%;
    animation: menu-item-underline .3s linear forwards;
}

/* Mune show position */
#header-menu.show > ul > li,
#header-menu.collapsing > ul > li{
    margin-right: 0;
    margin-left: auto;
}


/*===================================================Main Section Block============================================*/

/* Background main section */
.main-section{
    /* background: url('/images/world-map.jpg') center no-repeat  yellow; */
    background: yellow url('/images/world-map.gif') center no-repeat;
    background-size: cover;
}

/* Left column with image */
.main-nice {
    margin-left: 15vw;
    margin-top: 10vw;
    width: 28vw;
}

/* Shadow under image */
.main-shadow{
    margin-left: 17vw;
    width: 28vw;
}

/* Right column in main section */

/* Bold text */
.main-bold-text{
    display: inline-block;
    margin-top: 10vw;
    font-size: 6vw;
    line-height: 0.8em;
    text-align: center;
    font-weight: bold;
}

.main-bold-text > p{
    margin-bottom: 0px;
}

/* Description text */
.main-description{
    display: inline-block;
    margin-top: 2vw;
    text-align: center;
    font-weight: bold;
    margin-left: .5vw;
    font-size: 1.1vw;
}

.main-description > p{
    margin-bottom: 0px;
}


/* Know more label */

.turned-label > div{
    width: 8vw;
    font-size: 1.3vw;
    color: white;
    background-color: black;
    transform: skewX(-45deg);
    margin-left: 1.4vw;
}

.turned-label{
    margin-left: 10vw;
    margin-top: 1em;
    height: 2vw;
    background-color: black;
    transform: skewX(45deg);
    width: 11vw;
    border-radius: .5em .2em .5em .2em;
}

/* Three dots */
.main-dots > img{
    margin-top: 10vw;
}

/*===================================================Services Block============================================*/

/* Background configs */
.services{
    background: url('/images/services-background.gif') center no-repeat;
    background-size: cover;
    color: white;
}


/* Configs of text block */
.s-bold-text{
    width: 37vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.5vw;
    color: white;
    font-weight: bold;
    font-size: 3vw;
}

.s-bold-text > span{
    width: 57vw;
    color: yellow;
}

.s-description{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    width: 57vw;
    text-align: center;
}

/* Three columns with images */
.s-round-image{
    width: 22vw;
    height: 22vw;
    border-radius: 11vw;
    border-style: solid;
    border-width: 1vw;
    border-color: white;
    overflow: hidden;
}

.s-round-image > span{
    color: white;
}


@font-face {
    font-family: 'thinking_of_bettyregular';
    src: url('/Fonts/thinking_of_betty-webfont.woff2') format('woff2'),
         url('/Fonts/thinking_of_betty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

