body, html{
    margin: 0;
    font-family: 'Montserrat' serif;
}

body > .container-fluid{
    margin-left: 0%;
    padding-left: 0%;
}

/*----------------------------------------------Header---------------------------------------*/

/*----------------------------------------------Label---------------------------------------*/

#header{
    height: 128px;
    background-color: black;
}

.label{
    padding-top: 0.5em;
    width: 4.5em;
    margin-left: 1.5em;
    color: white;
    text-align: center;
    font-size: 38.6px;
    font-family: 'thinking_of_bettyregular';
    line-height: .6em;
}

.label>p{
    font-size: 22.9px;
}

#header > .col-12{
    padding-left: 0%;
    padding-right: 0%;
}

#menu-col > nav{
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    height: 100%;
}

/*----------------------------------------------Menu---------------------------------------*/

#row-in-col-menu{
    width: 100%;
}

#menu > div{
    margin-left: -1vw;
}

#menu > div > a{
    color: white;
    font-weight: bold;
    font-size: 18.9px;
}

.spec-attr-menu{    
    margin-right: 5vw;
}

a[special-attribute="contact-us"]{
    min-width: 140px;
    margin-right: 0%;
}

/*----------------------------------------------Menu Icon---------------------------------------*/

.menu-icon{
    padding: 0px;
    border-width: 7px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;
    margin-left: 150px;
}

.menu-icon > i {
    font-size: 70px;
    color: white;
}

/*-------------------------------------------Face Page---------------------------------------------*/

/*-------------------------------------------Image Block in Face------------------------------------------------------*/

#face-page{
    height: 98vh;
}

#face-page > div{
    margin-left: 0%;
    padding-left: 0%;
    background-color: #f8e530;
}

#img-map{
    position: absolute;
    margin-left: 4.5vw;
    margin-top: 2vw;
    width: 100%;
    max-height: 90vh;
    max-width: 95vw;
}

#face-page > div > .row{
    height: 100%;
}

#nice-content{
    max-width: 467px;
    margin-top: 20vh;
    margin-left: 15vw;
}

#img-cloud{
    margin-left: 5vw;
}



/*-------------------------------------------Text Block in Face------------------------------------------------------*/

#text-name{
    margin-top: 20vh;
    margin-left: 0;
    display: inline-block;
    font-family: 'Montserrat' serif;
    font-size: 10vw;
    text-align: center;
    line-height: .87em;
    font-weight: bold;
}

#text-name > p{
    line-height: 0.65em;
}

#text-description{
    display: inline-block;
    text-align: center;
    margin-left: 4vw;
    margin-top: 1.7em;
    font-weight: bold;
    font-size: 1.3vw;
}

#text-know-more{
    width: 8em;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: black;
    transform: skewX(45deg);
    border-radius: 1em;
    margin-left: 20vw;
}

#text-know-more > div{
    transform: skewX(-45deg);
}

#img-dots{
    width: 10px;
}











@font-face {
    font-family: 'thinking_of_bettyregular';
    src: url('/Fonts/thinking_of_betty-webfont.woff2') format('woff2'),
         url('/Fonts/thinking_of_betty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

