@{
    ViewData["Title"] = "Home Page";
}

<div id="main-container" class="container">
    Loading...
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
