<div id="root" >

</div>

<input id="key" type="hidden" value=@ViewData["key"] />
<input id="iv" type="hidden" value=@ViewData["iv"] />
<input id="login" type="hidden" value=@ViewData["login"] />
<input id="password" type="hidden" value=@ViewData["password"] />
<input id="isauthotized" type="hidden" value=@ViewData["isauthorized"] />
