

html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: black;
    background-image: url("../Images/Background1.gif");
}

main{
    margin: 20px auto;
    width: 900px;
    height: 90%;
    min-height: 700px;
    min-width: 900px;
}

section {
    width: 100%;
    margin: 20px auto;
}

div > p{
    user-select: none;
}

u{
    color: brown;
}

u:hover{
    cursor: pointer;
}

/*=====================================================Базовые классы===================================================================*/
/*=====================================================Основная секция===================================================================*/

section > div {
    height: 100%;
}

.switch{
    width: 5%;
    min-width: 40px;
    float: left;
}

.switch:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    cursor: pointer;
}

.switch.left{
    float: left;
    border-radius: 40% 0 0 40%;
    
}

.switch.right{
    float: right;
    border-radius: 0 40% 40% 0;
}
/*=====================================================/Основная секция===================================================================*/

/*=====================================================блок вращения===================================================================*/

.rotate {
    margin: 0 auto;
    width: 80%;
    position: relative;
    overflow: hidden;
}

.rotate > div{
    display: inline-block;
}

.foreground {
    height: 100%;
    position: relative;
    width: 100%;
    vertical-align: top;
    top: 20%;
    /*left: 15%;*/
    background: linear-gradient(to right, #1287ff, #007af6, #1287ff);
}

.foreground.left{
    width: 100%;
    /*left: 0%;*/
    padding: 0%;
    /*transform-origin: bottom right;*/
    background: linear-gradient(to left, #1187ff, #56aaff);
}

.foreground.right{
    width: 100%;
    /*left: 0%;*/
    /*transform-origin: bottom left;*/
    background: linear-gradient(to right, #1187ff, #56aaff);
}

.background{
    position: absolute;
    height: 100%;
    /*left: 25%;*/
    width: 100%;
    /*top: 0%;*/
    background-color: #b3b3b3;
}

.background.left{
    /*left: 0%;*/
    width: 100%;
    background: linear-gradient(to right, #d6d6d6, #aaaaaa);
}

.background.right{
    /*left: 75%;*/
    width: 100%;
    background: linear-gradient(to left, #d6d6d6, #aaaaaa);
}
/*=====================================================/блок вращения===================================================================*/


/*=====================================================/Базовые классы===================================================================*/





/*=====================================================Блок для фото===================================================================*/

section.photo {
    height: 35%;
    width: 50%;
}

.photo > div{
    text-align: center;
}

img {
    height: 100%;
}

/*=====================================================Крутящиеся фотографии===================================================================*/
/*.foreground.photo {
    color: black;
}

.foreground.left.photo{
    transform: skewY(0.518rad);
}

.foreground.right.photo{
    transform: skewY(-0.518rad);
}

.background.photo{
}

.background.left.photo{
    transform: skewY(-0.33rad);
}

.background.right.photo{
    transform: skewY(0.33rad);
}*/

/*=====================================================/Крутящиеся фотографии===================================================================*/

/*=====================================================/Блок для фото===================================================================*/


/*=====================================================Блок для основной информации===================================================================*/

section.skills {
    height: 60%;
    /*background-color: burlywood;*/
}

/*=====================================================Блок для крутящихся скилов===================================================================*/

/*.foreground.skills {
}

.foreground.left.skills {
    transform: skewY(0.455rad);
}

.foreground.right.skills {
    transform: skewY(-0.455rad);
}

.background.skills {
}

.background.left.skills {
    transform: skewY(-0.285rad);
}

.background.right.skills {
    transform: skewY(0.285rad);
}*/

/*=====================================================/Блок для крутящихся скилов=====================================================================*/

/*=====================================================/Блок для основной информации===================================================================*/

/*===============================================================Блок стрелок==========================================================================*/

.switch > div {
    width: 50%;
    height: 50%;
    float: left;    
}

.switch.left > div {
    background: linear-gradient(to left top, rgba(0,0,0,0) 35%, rgba(98,76,34,1) 0%, rgba(98,255,34,1) 50%, rgba(0,0,0,0) 50%);
    border-radius: 10%;
}

.switch.right > div {
    background: linear-gradient(to right top, rgba(0,0,0,0) 35%, rgba(98,76,34,1) 0%, rgba(98,255,34,1) 50%, rgba(0,0,0,0) 50%);
}

.switch > div.scaled {
    transform: scale(1, -1);
}

/*===============================================================/Блок стрелок==========================================================================*/

/*===============================================================Панели вращения==========================================================================*/
.left-rotate{

}

/*===============================================================/Панели вращения==========================================================================*/

/*===============================================================Скилы==========================================================================*/
.content {
    text-align: center;
    font-size: x-large; 
    font-style: italic;
    vertical-align: top;
}

ul{
    vertical-align: top;
}

/*.foreground.left > ul{
    padding: 0px;
    margin-left: 0px;
    transform: matrix(0.25, 0, 0, 1, -20, 0);
}*/

ul li {
    text-align: left;
    font-size: larger;
    vertical-align: top;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}

li b::after {
    content: '\00A0' '\00A0' '\00A0';
}

div b::after {
    content: '\00A0' '\00A0' '\00A0';
}

.no-marker{
    list-style-type: none;
    padding-top: 3%;
    font-weight: bold;
}

.buttoned > div{
    display: inline-block;
    margin: auto;
}

.btn-show {
    background: linear-gradient(to top, #0073e7 0%, #00cc18 50%, #0073e7 100% );
    border-radius: 20%;
}

.btn-show:hover{
    background: rgb(0,204,24);
    cursor: pointer;
    color: brown;
}

/*===============================================================/Скилы==========================================================================*/

/*=============================================Popup photo==================================================*/

#zoomFromPhoto {
    margin: 0 auto;
    z-index: 2;
    position: absolute;
    height: 55%;
    left: 50%;
}

#zoomFromSkills {
    margin: 0 auto;
    z-index: 2;
    position: absolute;
    height: 70%;
    left: 50%;
}

#zoomFromSkills > img {
    margin-left: -50%;
}

#zoomFromPhoto > img {
    margin-left: -50%;
}

/*===========================================================================================================*/



/*===============================================================Обратная связь==========================================================================*/

/*Class for feed back window*/
.feed-back{
    position: absolute;
    width: 30%;
    min-width: 400px;
    height: 50%;
    min-height: 500px;
    z-index: 4;
    background-color: burlywood;
    left: 50%;
    margin-left: -15%;
    border-radius: 2%;
}

/*Class for message success sent*/
.send-succeed {
    position: absolute;
    width: 20%;
    min-width: 200px;
    height: 200px;
    z-index: 4;
    background-color: burlywood;
    left: 50%;
    margin-left: -10%;
    border-radius: 2%;
}


/*Close element with cross view*/
#crossClose {
    margin-left: 95%;
    margin-top: 1%;
    background-color: brown;
    border-radius: 4px;
    width: 10px;
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
}

#crossClose:after{
    content: "";
    height: 10px;
    width: 40px;
    border-radius: 10%;
    background-color: brown;
    position: absolute;
    left: -15px;
    top: 15px;
    border-radius: 4px;
}

#crossClose:hover{
    transform: rotate(45deg) scale(1.1);
    cursor: pointer;
}


/*Text window for message sending*/
#textMessage{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

/*Buttons send and cancell*/
#noSend, #sendMes {
    width: auto;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #56aaff, #0073e7);
    position: absolute;
    margin-top: 4%;
    vertical-align: central;
    text-align: center;
    user-select: none;
}

#sendMes{
    margin-left: 10%;
}

#noSend{
    margin-left: 75%;
}

#noSend:hover, #sendMes:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 10px;
}

#noSend:active, #sendMes:active{
    transform: scale(1);
    box-shadow: 0 0 0;
}

/*Ajax visualization*/
@keyframes ajaxAnimate{
    from {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    to {transform: rotate(360deg);}
}

.ajax-visualize {
    width: 25px;
    height: 25px;
    background: linear-gradient(to left, #1187ff 50%, #5dde58 50%);
    position: absolute;
    margin-left: 2%;
    margin-top: 4%;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: ajaxAnimate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.error-during-sending{
    margin-left: 30%;
    margin-top: 4%;
    position: absolute;
    color: crimson;
}

/*=======================================================================================================================================================*/

/*===============================================================Header==========================================================================*/

header {
    text-align: center;
    vertical-align: central;
    width: 900px;
    height: 5%;
    min-height: 30px;
    margin: 0 auto;
    background: rgba(0,0,0,0);
}

header > h1 {
    margin: 0;
}

header > div {
    margin: 0;
}


#headTop {
    background: linear-gradient(to right, #1287ff, #007af6, #1287ff);
    margin-top: 0px;
    width: 100%;
    height: 60%;
}

#headDown {    
    margin-top: 0px;
    width: 100%;
    height: 40%;
}

#headDown > div{
    height: 100%;
    display: inline-block;
    margin: 0;
    border-radius: 0 0 15px 15px;
    text-align: center;
    vertical-align: central;
    overflow: auto;
    box-sizing: border-box;
}

#hLeft {
    width: 25%;
    background: linear-gradient(to right, #1287ff, #007af6, #1287ff);
}

#hCenter {
    width: 50%;
}

#hRight {
    width: 25%;
    background: linear-gradient(to right, #1287ff, #007af6, #1287ff);
}

#hLeft:hover, #hRight:hover{
    background: rgba(98,255,34,1);
    transform: scaleY(1.5);
    cursor: pointer;
}

/*=======================================================================================================================================================*/

/*===============================================================Login, password========================================================================*/

.log-in {
    position: absolute;
    width: 20%;
    min-width: 200px;
    height: 200px;
    z-index: 4;
    background-color: burlywood;
    left: 50%;
    margin-left: -10%;
    border-radius: 2%;
}


#login, #password{
    width: 50%;
    height: 100%;
}

#container-login, #container-password{
    width: 100%;
    height: 1em;
    margin-left: 10%;
}

#container-login:after, #container-password:after{
    position: absolute;
    width: auto;
    margin-left: 5%;
    margin-top: 3pt;
}

#container-login:after{
    content: "Логин";
}

#container-password:after{
    content: "Пароль";
}



/*=======================================================================================================================================================*/